.heading {
  animation: slide 1s ease-in-out forwards;
  --width: translateX(80%);

  backface-visibility: hidden;
}
.info {
  animation: slide 1s ease-in-out;
  --width: translateX(-80%);
  backface-visibility: hidden;
}
.secondHeading {
  animation: fromTop 1s ease-in-out;
  --height: translateY(-80%);
  backface-visibility: hidden;
}
.grow {
  animation: grow 1s ease-in;
}
@keyframes slide {
  0% {
    transform: var(--width);
  }
}
@keyframes fromTop {
  0% {
    transform: var(--height);
  }
}
@keyframes grow {
  0% {
    transform: scale(0.1);
  }
}
